<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FlyHigh</title>
        <link rel="icon" type="image/png" href="static/css/logo.png" alt="FlyHigh">
        <script src="https://kit.fontawesome.com/00ac4f1850.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <script src="/static/js/login.js" defer></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-info-subtle">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Welcome to FlyHigh</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Log-out</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <main>
            <section class="dashboard-item">
                <h2>View Flight Data</h2>
                <p>View current flight details.</p>
            </section>
            <section class="dashboard-item">
                <h2>Bookings</h2>
                <p>Manage your flight bookings and reservations.</p>
            </section>
            <section class="dashboard-item">
                <h2>Profile</h2>
                <p>Update your profile and contact information.</p>
            </section>
        </main>
        <footer>
            <p>
                Made with <i class="fa-solid fa-heart"></i> by Debosmita Bedajna.
            </p>
        <footer>
    </body>
</html>